.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .tile {
        flex: 0 0 calc((100% / 3) - 2em);
        margin: 0 1em 1em;
        .paper(2);

        &:hover header img {
            transform: translateY(-50%) scale(1.1);
        }

        header {
            position: relative;
            border-radius: inherit;
            height: 12em;
            overflow: hidden;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: @black;

            @media (max-width: 767px) {
                height: 9em;
            }

            img {
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);
                z-index: -1;
                opacity: 0.7;
                transition: transform .2s ease;
            }

            h3 {
                color: @white;
                font-size: 40px;
            }
        }

        .body {
            padding: 2em 1em;

            aside {
                float: right;
                font-style: italic;
            }
        }
    }

    @media (max-width: 1023px) {
        flex-direction: column;
        align-items: center;

        .tile {
            width: calc(100% - 2em);
        }
    }
}
