.tile[id] {
    cursor: pointer;
}

dialog.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    .elevation(8);
    z-index: 100;
    transform: translateY(50vh);
    transition: transform .3s ease;
    border: none;

    &.open {
        display: block;
        transform: translateY(-50%);
    }

    .close {
        position: absolute;
        right: 0;
        top: 0;
        background-color: @complementary;
        color: @white;
        border: none;
        padding: .5em 1em;
        cursor: pointer;
        border-radius: 0 4px 0 0;
    }

    h4 {
        color: @black;
        padding-top: 0;
        margin-bottom: .5em;
    }
}

body.modal-open:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 99;
}
